.display {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__end-time {
    font-size: 1.5rem;
    font-weight: 400;
    color: lightsalmon;
  }

  &__time-left {
    font-size: 6rem;
    font-weight: 700;
    margin: 0;
    color: lightsalmon;
    text-shadow: 4px 4px 0 rgba(0, 0, 0, .05);
  }
}

.timer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  &__controls {
    display: flex;
    max-width: 100vw;

    form {
      background: rgba(0, 0, 0, .1);
      display: flex;
      flex: 1;
    }

    input {
      background: none;
      color: sandybrown;
      flex: 1;
      font-weight: bold;
      border: 0;
      max-width: 5rem;
      padding: 1rem .5rem;
    }

    & > * {
      flex: 1;
    }
  }

  &__button {
    background: none;
    border: 0;
    cursor: pointer;
    color: sandybrown;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    background: rgba(0, 0, 0, .1);
    border-bottom: 3px solid rgba(0, 0, 0, .2);
    border-right: 3px solid rgba(0, 0, 0, .2);
    padding: 1rem .5rem;
    font-family: 'Inconsolata', monospace;

    &:hover,
    &:focus,
    &:active {
      background-color: rgba(0, 0, 0, .2);
      outline: none;
    }

    &::-moz-focus-inner {
      border: none;
    }
  }
}
